* eol=lf

# Yarn
/.yarn/**            linguist-vendored
/.yarn/releases/*    binary
/.yarn/plugins/**/*  binary
/.pnp.*              binary linguist-generated

# Source code
*.css text
*.sass text
*.scss text
*.js text
*.ts text
*.mjs text
*.mts text
*.json text
*.xml text
*.svg text
*.txt text
*.sql text
*.sh text
*.bat text

# Templates
*.htm text
*.html text

# Git config
.gitattributes text
.gitignore text
.gitconfig text

# Code analysis config
.eslintrc text
.eslintignore text

# Misc config
*.yaml text
*.yml text
*.lock text
.editorconfig text

# Build config
*.npmignore text
*.bowerrc text
*.nvmrc text

# Documentation
*.md text
README text

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.otf binary
*.woff binary
*.woff2 binary
*.pdf binary
*.doc binary
*.docx binary
*.dll binary
*.pfx binary
