<mat-toolbar color="tertiary">
  <span>Angular Google Maps Places Demo</span>
  <div class="fill"></div>
  <a mat-icon-button href="https://github.com/lekhmanrus/ngx-google-maps-places">
    <mat-icon svgIcon="github"></mat-icon>
  </a>
</mat-toolbar>

<div class="container">
  <form [formGroup]="addressForm">
    <div class="row">
      <mat-form-field class="full-width">
        <mat-label>Address ({{ addressForm.get('address')?.value }})</mat-label>
        <input type="text"
               placeholder="Pick your address"
               aria-label="Address"
               matInput
               formControlName="address"
               [matAutocomplete]="addressAutocomplete"
               ngxGoogleMapsPlacesAutocomplete
               [fetchFields]="[ 'addressComponents', 'location', 'googleMapsURI' ]"
               #placesAutocomplete="ngxGoogleMapsPlacesAutocomplete" />
        <mat-autocomplete autoActiveFirstOption #addressAutocomplete="matAutocomplete">
          @for (option of placesAutocomplete.options$(); track option.prediction.placeId) {
            <mat-option [value]="option">
              <div matLine class="text-main" [innerHtml]="option.formattedMainHtml"></div>
              <small matLine class="text-secondary" [innerHtml]="option.formattedSecondaryHtml">
              </small>
              <!-- <span [innerHtml]="option.formattedHtml"></span> -->
            </mat-option>
          }
        </mat-autocomplete>
        <button mat-button type="button" matSuffix
                (click)="addressForm.get('address')?.setValue('2011 94 St NW, Edmonton, AB T6N 1H1'); $event.stopPropagation()">
          Set Default Address
        </button>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="full-width">
        <mat-label>Street Number</mat-label>
        <input type="text"
               placeholder="Enter your street number"
               aria-label="Street Number"
               matInput
               formControlName="streetNumber"
               [value]="placesAutocomplete.placeDetails$()?.address?.streetNumber" />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Street</mat-label>
        <input type="text"
               placeholder="Enter your street"
               aria-label="Street"
               matInput
               formControlName="street"
               [value]="placesAutocomplete.placeDetails$()?.address?.street" />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Address Line 2 (apartment, suite, a unit number)</mat-label>
        <input type="text"
               placeholder="Enter your address line 2 (apartment, suite, a unit number)"
               aria-label="Address Line 2 (apartment, suite, a unit number)"
               matInput
               formControlName="addressLine2"
               [value]="placesAutocomplete.placeDetails$()?.address?.addressLine2" />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="full-width">
        <mat-label>City</mat-label>
        <input type="text"
               placeholder="Enter your city"
               aria-label="City"
               matInput
               formControlName="city"
               [value]="placesAutocomplete.placeDetails$()?.address?.city" />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>State/Province</mat-label>
        <input type="text"
               placeholder="Enter your state/province"
               aria-label="State/Province"
               matInput
               formControlName="region"
               [value]="placesAutocomplete.placeDetails$()?.address?.region" />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>State/Province Code</mat-label>
        <input type="text"
               placeholder="Enter your state/province code"
               aria-label="State/Province Code"
               matInput
               formControlName="regionCode"
               [value]="placesAutocomplete.placeDetails$()?.address?.regionCode" />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="full-width">
        <mat-label>Country</mat-label>
        <input type="text"
               placeholder="Enter your country"
               aria-label="Country"
               matInput
               formControlName="country"
               [value]="placesAutocomplete.placeDetails$()?.address?.country" />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Country Code</mat-label>
        <input type="text"
               placeholder="Enter your country code"
               aria-label="Country Code"
               matInput
               formControlName="countryCode"
               [value]="placesAutocomplete.placeDetails$()?.address?.countryCode" />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Postal Code</mat-label>
        <input type="text"
               placeholder="Enter your postal code"
               aria-label="Postal Code"
               matInput
               formControlName="postalCode"
               [value]="placesAutocomplete.placeDetails$()?.address?.postalCode" />
      </mat-form-field>
    </div>

    <div class="row">
      @if (placesAutocomplete.placeDetails$()?.place?.location) {
        <div  class="full-width">
          <google-map width="100%" mapId="1"
                      [center]="placesAutocomplete.placeDetails$()!.place!.location!">
            <map-advanced-marker [position]="placesAutocomplete.placeDetails$()!.place!.location!"
                                 [gmpDraggable]="false" />
          </google-map>
        </div>
      }

      @if (placesAutocomplete.placeDetails$()?.address) {
        <mat-card class="full-width">
          <mat-card-header>
            <mat-card-title>Address Model</mat-card-title>
            <mat-card-subtitle>
              Parsed from the addressComponents from the fetched place details
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <pre>{{ placesAutocomplete.placeDetails$()!.address | json }}</pre>
          </mat-card-content>
        </mat-card>
      }
    </div>

    @if (placesAutocomplete.placeDetails$()?.place?.googleMapsURI) {
      <div class="row padding-top">
        <a mat-button target="_blank"
           [href]="placesAutocomplete.placeDetails$()!.place!.googleMapsURI">
          Open in Google Maps
        </a>
      </div>
    }
  </form>
</div>
