@use '@angular/material' as mat;
@use '../styles' as app;

:host {
  display: block;

  mat-toolbar {
    --mat-toolbar-container-background-color: #{mat.get-theme-color(app.$light-theme, primary, 80)};
    position: fixed;
    top: 0;
    z-index: 3;

    @media (prefers-color-scheme: dark) {
      --mat-toolbar-container-background-color: #{mat.get-theme-color(app.$light-theme, primary, 30)};
    }
  }

  .fill {
    flex: 1 1 auto;
  }

  .container {
    margin-top: 64px;
    padding: 16px;
  }

  .row {
    display: flex;
    gap: 11px;
    justify-content: space-between;
  }

  .padding-top {
    padding-top: 16px;
  }

  .full-width {
    width: 100%;
  }
}

mat-option .text-secondary {
  color: var(--mdc-list-list-item-supporting-text-color);
  // @include mat.option-color(app.$light-theme, $color-variant: secondary);
}
